extends layout

block content
  h2.welcome
    | Welcome to
  h1.welcome
    | Crowdsale!
  .text-container
    .row Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu turpis sit amet sapien dignissim dictum varius eget ex. Nullam ullamcorper, ligula aliquet dignissim sodales, ipsum orci cursus urna, vel bibendum risus lacus eu nulla. 

    .row Vivamus iaculis orci facilisis justo finibus, in efficitur neque molestie. Ut quis ex dapibus, pellentesque libero in, suscipit justo. Morbi iaculis lectus eget diam rhoncus, ac volutpat erat mollis. Donec in est ut nisi blandit gravida. Donec at urna faucibus lectus sollicitudin aliquam fermentum non mi. 

  .gotit
    a(href="/wallet").label.button
      | Ok, got it
