+media-query(all, max-width $bigWidth)
  .desktop,
  .mobile
    display none
  .tablet
    display block
  
    
  .label
    &.general
      font-size 14px
      line-height 19px
    &.numbers
      font-size 23px
      line-height 31px
    &.link
      font-size 14px
      line-height 18px
    &.info
      line-height 19px
    &.code
      font-size 19px
      line-height 19px
      padding 27px 0 28px 0
  .wal
    padding 29px
    height 361px
    .top-part
      height 90px
    .bottom-part
      height 180px
      .left-part
        width 50%
      .right-part
        width 50%
        .qr
          float right
          img
            width 164px
        
  .history
    .hist-line
      font-size 16px
      height 119px
      .num
        font-size 17px
    .col
      &.details
        .detail-arrow
          margin -42px 0 0 -3px
  
  .footer
    .copyright
      margin 60px auto 0 auto
    