@import "kouto-swiss"
ks-support-ie = 8
meyer-reset()


@import "fonts"
@import "common"
@import "content"
.container
  text-align center
  @media only screen and (min-width: 901px)
    width 841px
.logo
  width 361px
  height 61px
  margin 29px auto 0 auto
.arrow
  width 28px
  height 48px
  position absolute
  margin -33px 0px 0px 35px
#logo, 
#arrow-right, 
#arrow-left,
.detail-arrow a
  width 100%
  height 100% 
  display inline-block
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition background-color .2s linear
  transition background-color .2s linear
#logo
  background-color #fff 
  -webkit-mask-image: url(/images/ic_logo.svg)
  mask-image url(/images/ic_logo.svg)
  &::not(.disabled):hover
   background-color rgba(28,206,156,0.82)
   
#arrow-left   
  background-color rgb(28, 206, 156)
  -webkit-mask-image: url(/images/ic_arrow_right.svg)
  mask-image url(/images/ic_logo.svg)
  -moz-transform scaleX(-1)
  -o-transform scaleX(-1)
  -webkit-transform scaleX(-1)
  transform scaleX(-1)
  filter FlipH
  -ms-filter "FlipH"
  margin-left: -39px;

#arrow-right 
  background-color rgb(28, 206, 156)
  -webkit-mask-image: url(/images/ic_arrow_right.svg)
  mask-image url(/images/ic_logo.svg)
  margin-right: -44px;
  
.row
  display block
  width 100%
  text-align center
  &.bars
    @media (min-width: 601px)
      margin 29px auto 0 auto
      min-width 540px
  
textarea 
  overflow hidden
  @media (min-width: 901px)
    max-width: 665px;
    margin-left: -21px;

.bar-item
  text-align center
  margin 0px 16.5px
  padding 0px 13px
  display inline-block
  text-transform uppercase
  text-decoration none
  letter-spacing 5px
  font-size 12px
  font-weight 600
  line-height 28px
  color #555
  width 121px
  color rgba(255,255,255,0.3)
  &.active
    font-size 14px
    font-weight 600
    line-height 30px
    color #fff
    letter-spacing 6px
    .line
      background-color rgba(28, 206, 156, 0.22)
.line
    position relative
    size 120px 1px
    display block
    background-color $white-15
    transition background-color $sidebar-line-transition-time linear
    &:before
    &:after
      content ''
      absolute 0 false
      size 1px
      background-color $white
      transition background-color $sidebar-line-transition-time linear
    &:before
      left 0
    &:after
      right 0  
.point
  absolute false
  size 1px
  background-color $common-point-background-color
  &.center
    absolute 0
    margin auto
  &.top
    top -1px
    bottom auto
  &.bottom
    bottom -1px
    top auto
  &.left
    left -1px
    right auto
  &.right
    right -1px
    left auto

.wal
  position relative
  box-sizing border-box
  margin 59px auto 0 auto
  text-align left
  width 100%
  border 1px solid $white-15
  @media (max-width: 900px)
    margin-top 29px
  @media (max-width: 600px)
    margin-top 30px 
  @media (min-width: 901px)
    padding 59px
  .wallet
    position relative
  .top-part
    height 120px
    .left-part
      display inline-block
      width 50%
    .right-part
      display inline-block
      width 50%
      margin 0 0 0 -3px  
      float right    
      .label.info
        text-transform none
        font-weight 400
        font-size 13px
      #nods-amount
        .line
          width 153px
          background-color rgba(28,206,156,0.22)
  .bottom-part
    padding-top 27px  
    @media (min-width: 901px)
      width 720px
    .left-part
      margin-top 1px
      display inline-block
      @media (min-width: 901px)
        width 570px
      float left
      .copy
        position relative
        margin 10px 0 7px 0
        border 1px solid rgba(28,206,156,0.22)
        display -webkit-box
        display -webkit-flex
        display -ms-flexbox
        display flex
        text-align center
        max-width 539px
        border 1px solid rgba(23,229,178,.2)
        -webkit-transition border-color .2s linear
        transition border-color .2s linear
        &:hover
          border-color #17e6b2
        .label
          &.button
            padding 21px 0
            font-size 17px
            font-weight 600
            letter-spacing 3.7px
            color #17e6b2
            width 100%


    .right-part
      display inline-block
      margin-top 2px
      @media (min-width: 901px)
        width 150px
      .qr
        position relative
        border 1px solid rgba(28,206,156,0.22)
        display inline-block
        img
          width 134px
          height auto
          padding 7px 7px 5px 8px

.history
  width 100%
  &:first-child
    padding 2px 0 0 0
  .hist-line
    position relative
    font-size 17px
    border-bottom 1px solid rgba(255,255,255,0.15)
    .num
      font-size 24px
    span.num
      font-size 17px 
      width 20px
      display inline-block 
    margin 0 auto
    @media (min-width: 901px)
      width 721px
      height 119px

      
        
    & > *
      display inline-block
    .col
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      &.date
        width 21%
        text-align left
        left 12px
        .date-font
          color $white-50 
      &.confirm
        width 36%
        text-align left
        left 70px
        .confirm-num
          color $white-50
          span 
            font-weight 400
            color $white
            padding-right: 6px;
      &.amount
        width 34%
        text-align right
      &.details
        width 4%
        .detail-arrow
          width 28px
          height 48px
          position absolute
          background-color rgb(28, 206, 156)
          -webkit-mask-image: url(/images/ic_arrow_right.svg)
          mask-image url(/images/ic_logo.svg)
          @media (min-width: 901px)
            margin: -47px 0 0 5px;
          display inline-block
          -webkit-mask-size: cover;
          mask-size: cover;
      
    .line
      width 100%
      margin -4px 0
      
.next-link
  display block
  width 33px
  height 33px
  margin 0 auto
  filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  // filter alpha(opacity=0)
  opacity 0
  visibility hidden
  cursor pointer
  fill rgba(23, 229, 178, .2)
  transition fill .2s linear
.footer
  .copyright
    @media (min-width: 901px)
      padding 30px 15px
    padding-bottom 20px
    color #777
    font-size 11px
    a 
      color inherit
      text-decoration none


.pass-phrase  
  -webkit-transition background 4s linear
  -moz-transition background 4s linear
  -o-transition background 4s linear
  transition background 4s linear


.total
  margin 56px 0 41px 0
  .numbers
    color #17d2b2
    line-height 75px
    
.pass-phrase
  box-sizing: border-box;
  position relative
  cursor pointer
  max-width 840px
  min-width 300px
  @media (min-width: 901px)
    height 61px !important
  border 1px solid rgba(255, 255, 255, 0.22)
  margin 0 auto 
  -webkit-transition border-color .2s linear,color .2s linear,-webkit-text-fill-color .2s linear,background-color 50000s ease-in-out 50000s
  transition border-color .2s linear,color .2s linear,-webkit-text-fill-color .2s linear,background-color 50000s ease-in-out 50000s
  &:hover
    border-color #fff
  .label
    z-index 100
    font-weight 600
    color rgba(23,230,178,0.6)
    -webkit-transition color .2s linear
    transition color .2s linear
    &:hover
      color #17e5b2 
  .paste
    position: absolute;
    bottom: 23px;
    left: 23px;

  .generate
    position: absolute;
    bottom: -1px;
    left: 59px;
    @media (min-width: 901px)
      bottom: -1px;
  .file
    position: absolute;
    bottom: 23px;
    right: 23px;
  .save-to-file
    position: absolute;
    bottom: -1px;
    right: 1px;
    @media (min-width: 901px)
      bottom: -1px;
  .show
    position: absolute;
    bottom: 27px;
    right: 27px;
    @media (min-width: 901px)
      bottom: 21px;
  .hidden
      display none   
  .point 
    background-color white
  & > *
    display inline-block
  &.focused
    border 1px solid #ddd
  .password,
  .generator
    height 100%
    width 85%
    background transparent
    text-align center
    font-size 36px
    color white
    border none
    outline none
    font-size 18px
    font-weight 300
    @media (min-width: 901px)
      line-height 54px
    letter-spacing 1px
    resize none
    &:focus
      &::-webkit-input-placeholder
        color transparent
      &::-moz-placeholder
        color transparent
      &:-moz-placeholder
        color transparent
      &:-ms-input-placeholder
        color transparent
    &::-webkit-input-placeholder
      font-size 17px
      color rgb(255,255,255)
      font-weight 300   
      letter-spacing 2px 
    &::-moz-placeholder
      font-size 17px
      color rgb(255,255,255)
      font-weight 300   
      letter-spacing 2px 
    &::-moz-placeholder
      font-size 17px
      color rgb(255,255,255)
      font-weight 300   
      letter-spacing 2px    
    &::-ms-input-placeholder 
      font-size 17px
      color rgb(255,255,255)
      font-weight 300   
      letter-spacing 2px   
.signin
  position relative
  margin 59px auto
  border 1px solid rgba(28,206,156,0.22)
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  text-align center
  max-width 479px
  border 1px solid rgba(23,229,178,.2)
  -webkit-transition: border-color .2s linear;
  transition: border-color .2s linear;
  &:not(.disabled):hover
    border-color #17e5b2
  .label
    &.button
      padding 21px 0
      font-size 17px
      font-weight 600
      letter-spacing 3.7px
      color #17e6b2
      width 100%
      
.signup
  position relative
  margin 119px auto 20px auto
  border 1px solid rgba(28,206,156,0.22)
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  text-align center
  max-width 239px
  border 1px solid rgba(23,229,178,.2)
  -webkit-transition border-color .2s linear
  transition border-color .2s linear
  &:not(.disabled):hover
    border-color #17e5b2
  .label
    &.button
      padding 21px 0
      font-size 17px
      font-weight 600
      letter-spacing 3.7px
      color #17e6b2
      width 100%
.disabled
  opacity 0.2
  a
    pointer-events: none;
    cursor: default;
    
    


.progress
  // width 720px
  margin 60px auto 0 auto
  width 721px
  .first
    width 361px
  .second
    width 360px
  & > *
    display inline-block
    text-align left
    .line
      width 100%
      background-color $white-20
      &.active
        background-color rgba(23,230,178,0.2)
        &::before,
        &::after
          background-color rgba(23,230,178,1)
      &#right::before
        width 0
        height 0
    .text
      display inline-block
      font-size 14px
      margin-left 15px
      line-height 59px
      letter-spacing 1px
      font-weight 400
      vertical-align super
    .number
      display inline-block
      font-size 30px
      font-weight 900
      color rgba(23, 229, 178, .1)
      margin 0 0 0 8px
      

svg
  &.active
    transition opacity 0.2s linear
    transition opacity 0.2s linear
    width 10px
    height 10px
    position absolute
    margin -5px 0px 0px -5px

#generator
  margin-top 59px

.save-to-file
  position absolute
  background-color rgba(28,206,156,0.82)
  -webkit-mask-image: url(/images/ic_download.svg)
  mask-image url(/images/ic_download.svg)
  size 61px 61px
  display inline-block
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition background-color .2s linear
  transition background-color .2s linear
  &:not(.disabled):hover
    background-color #17e5b2
    
.generate
  position absolute
  width 48px
  margin-left -60px
  background-color rgba(28,206,156,0.82)
  -webkit-mask-image: url(/images/ic_generate.svg)
  mask-image url(/images/ic_generate.svg)
  size 61px 61px
  display inline-block
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition background-color .2s linear
  transition background-color .2s linear
  &:not(.disabled):hover
   background-color #17e5b2 
   
.terms
  font-size 12px
  padding 11px
  letter-spacing 1px
  a
    color rgb(22, 205, 174)
    cursor pointer

.attention
  margin 47px auto
  width 360px
  color #ff004d
  font-size 11px
  letter-spacing 1px
  line-height 24px
  .bolded
    font-weight 600
    font-size 18px
    
#new.signin
  @media (min-width: 901px)
    margin 59px auto
    width 601px
  
+media-query(all, min-width $bigWidth)
  .tablet,
  .mobile
    display none
  .desktop
    display block

.file
  overflow hidden
  position relative
  cursor pointer
  [type=file]
    cursor inherit
    display block
    font-size 999px
    filter: unquote("alpha(opacity=0)")
    min-height 100%
    min-width 100%
    opacity 0
    position absolute
    right 0
    text-align right
    top 0

#forw, #backw 
  cursor pointer
  -webkit-transition color .2s linear
  transition color .2s linear
  &:hover
    color rgba(23, 229, 178, 0.7)
.group1, .group2, .invisible1, .invisible2, .back_inv, .back
  transition visibility 2s, opacity 2s linear, border-color .2s linear
  -webkit-transition visibility 2s linear, opacity 2s linear, border-color .2s linear
  
#back-to-main, .terms a, #stat_link
  font-size 12px
  color rgba(23,230,178,0.6)
  -webkit-transition color .2s linear
  transition color .2s linear
  &:hover
    color #17e5b2
#stat_link
  margin-top 40px
#history
  margin-top 30px
#signin
  -webkit-transition: visibility 2s, opacity 2s linear
  transition: visibility 2s, opacity 2s linear
  -webkit-transition: visibility 2s linear, opacity 2s linear
@import "style-tablet.styl"
@import "style-mobile.styl"
