+media-query(all, max-width 600px)
  .desktop,
  .tablet
    display none
  .mobile 
    display block
  .container
    width 301px
  // .logo
  //   width 323px
  //   height 58px
  //   margin 32px auto 0 auto
  // #logo
  //   margin-left -59px
  .total
    margin 11px 0 22px 0
    .label
      &.head
        font-size 14px
        font-weight 700
        line-height 36px
      &.numbers
        font-size: 26px;
        line-height: 20px;
        letter-spacing: 1px;
        
  .pass-phrase
    height: 181px;
    position: relative;
    box-sizing: border-box;
    padding: 17px 22px;
    .password
      line-height: 30px;
      font-size: 18px;
      letter-spacing: 1.5px;
      width: 100%;

    // .paste
    //   position: absolute;
    //   bottom: 27px;
    //   left: 27px;
    // .file
    //   position: absolute;
    //   bottom: 27px;
    //   right: 27px;
    .show
      position: absolute;
      bottom: 27px;
      right: 27px;
    .hidden
        display none 
  .signin,
  .signup
    position relative
  .signin
    max-width 239px
    margin 29px 30px
    position relative
  .signup
    margin-top 59px
  .hidden
    display none !important  
  .progress
    margin: 18px auto;
    width: 301px;
    height: 12px;
    & > *
      width initial
      float left
  .terms 
    font-size 9px
    padding 11px 0px
    letter-spacing: 0.7px
    text-align center
  .attention
    width 300px
    font-size 10px
    line-height 18px
    text-align center
    letter-spacing 0.7px
    margin 14px auto
    .bolded
      font-weight 600
      font-size 18px
      

  .bars
    width 300px
    // min-width 300px
    margin 30px 0 0 0 
    .bar-item
      position relative
      width: 100px
      padding 0
      margin 0
      text-align center
      text-align -webkit-center
      & > *
        margin 0 auto
      &.active
        color white

  .wal
    height initial
    .top-part
      height initial
      height 180px
      .left-part,
      .right-part
        display block
        width initial
        float none
        margin 0
      .left-part
        padding-bottom 23px 
        .numbers
          line-height 38px
      .right-part
        padding-bottom 29px 
        .numbers
          line-height 39px
          
    .bottom-part
      height initial
      padding-top 29px
      .left-part
      .right-part
        display block
        width initial
        float none
        margin 0
        .qr
          float none
          margin 0px 30px
      .left-part
        .label
          &.code
            font-size 18px
            padding 12px 0
            line-height 22px
            letter-spacing 1px
        .copy
          margin 10px 0 29px 0
      
  
  .history
    .hist-line
      .col
        &.confirm
          display none
        &.date
          width 35%
          .date-font
            font-size 15px
        &.amount
          width 52%
          .label.num
            font-size 15px
        &.details
          width 5%
          .detail-arrow
            margin -42px 0 0 -9px
  .footer
    margin -22px 0 28px 0
    padding-bottom 15px
    .copyright
      font-size 11px
      color rgba(255,255,255,0.3)
      margin 21px auto 0 auto

