+media-query(all, min-width 601px, max-width 900px)
  .container
    width 541px
+media-query(all, max-width 900px)
  .desktop,
  .mobile
    display none
  .tablet
    display block
  
    
  .label
    &.general
      font-size 12px
    &.numbers
      font-size 23px
      line-height 36px
    &.link
      font-size 12px
      line-height 14px
    &.info
      line-height 12px
      font-size 12px
    &.code
      font-size 20px
      line-height 24px
      padding 26px 0 25px 0
  .total
      margin: 36px 0 23px 0;
      .label
        &.head
          font-weight: 500;
          line-height: 30px;
          font-size: 15px;
        &.numbers
          font-size: 35px;
          line-height: 60px;
          letter-spacing: 2.5px;
  .pass-phrase
    height 121px
    padding: 13px;
    .password
      line-height: 28px;
      font-size: 17px;
      letter-spacing: 1.6px
      width 100%
  .progress
    width 541px
    margin 30px auto 0 auto
    .first 
      width 301px
    .second
      width 240px  
  .signin
    max-width 419px
    // box-size border-box 
  .signup
    margin-top 89px

  .bar-item
    color rgba(255,255,155,0.3)
    width 121px

  .line
    position relative
    width 121px

  .wal
    padding 29px
    height 361px
    .top-part
      height 90px
    .bottom-part
      height 180px
      width 481px
      .left-part
        width 271px
        margin-right 29px
      .right-part
        width 180px
        .qr
          float right
          img
            width 164px
        
  .history
    .hist-line
      font-size 16px
      height 119px
      .num
        font-size 17px
    .col
      &.details
        .detail-arrow
          margin -42px 0 0 -3px
      &.confirm
        left 54px


  .footer
    letter-spacing 1px
    text-align center
    .copyright
      margin 60px auto 0 auto
      font-size: 11px;
      color: rgba(255,255,255,0.3);
    